.container {
    max-width: 1200px;
    margin: 1em auto 2em auto;
    padding: 2em 2em;
}


section.login{
    background-color: #fff;
    max-width: 1200px;
    box-shadow: 4px 4px 4px 4px #aaa;
    display: flex;
    aspect-ratio: 2/1;
}

