.container {
    max-width: 1200px;
    margin: 1em auto 2em auto;
    padding: 2em 2em;
}


section.login{
    background-color: #fff;
    max-width: 1200px;
    box-shadow: 4px 4px 4px 4px #aaa;
    display: flex;
    overflow: hidden;
    aspect-ratio: 2/1;
}

.media{
    flex: 1 1 50%;
    overflow: hidden;
    height: 100%;
    max-height: 600px;
}

img{
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    object-position: left;
}

.login-form{
    padding: 3em;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.login{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.1em;
    padding-top: 3em;
}

form.login::after{
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #ddd, #ccc, #ddd);
}

.input-group{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5em;
}

input:focus{
    outline: none;
}

h2{
    font-size: 2.5em;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #E8B677;
}

label{
    font-family: 'PT Serif';
    font-weight: 500;
    letter-spacing: 1px;
}

input{
    border: 1px solid #ccc;
    font-family: 'PT Serif';
    padding: 0.5em;
    font-size: 0.9em;
    border-radius: 2px;
    width: 100%;
}

input::placeholder{
    color: #bbb;
}
