.products {
  min-height: 500px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.options {
  background-color: #eee;
  padding: 1.1em;
}

.options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  transition: transform 0.3s;
  cursor: pointer;
}

li a.active,
li a:hover:not(.active) {
  transform: scale(1.2);
}


.no-products {
  margin: 2.5em auto;
  /* position: absolute; */
}

.no-products::after {
  display: block;
  position: relative;
  content: "";
  width: 140%;
  height: 1px;
  left: -20%;
  top: 5px;
  background: linear-gradient(90deg, #eee, #333, #eee);
}

.products-wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 6%;
  padding: 2em;
}

.card {
  flex: 0 0 20.5%;
  align-self: stretch;
  border: 1px solid #ccc;
  background: radial-gradient(#fff 25%, #e4e4e4);
}


.filler{
  padding: 1em 2em;
  background: #fff;
  height: 100%;
}

.card:hover .filler{
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.media {
  overflow: hidden;
  aspect-ratio: 1/1;
}

.media a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.17s;
}

a:hover img {
  transform: scale(1.1);
}

.card .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.05em;
  padding: 1em;
}

.card span {
  font-size: 1.3em;
  /* font-weight: bold; */
}
