<section class="products">
  <div class="container">
    <div class="options">
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Living room</a></li>
        <li><a href="">Bedroom</a></li>
        <li><a href="">Dining room</a></li>
        <li><a href="">Home office</a></li>
        <li><a href="">Outdoor</a></li>
      </ul>
    </div>
    <div class="products-wrapper">
      <div class="card" *ngFor="let prod of products$ | async">
        <div class="media">
          <img [src]="prod.image" alt="" />
        </div>
        <div class="info">
          <p>Product name</p>
          <p>Type</p>
          <span>${{ prod.price }} </span>
        </div>
      </div>
    </div>
  </div>
</section>
