.products {
  min-height: 70vh;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.options {
  background-color: #eee;
  padding: 1.1em;
  max-width: none;
}

.options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}


.category-btn{
  border-radius: 2em;
  padding: 0.4em 0.7em;
  font-size: 1.05em;
  outline: none;
  background-color: #fff;
  border: #666;
  cursor: pointer;
  transition: all 0.2s;
}

.category-btn.selected{
  background-color: #444;
  color: #fff;
}

.category-btn.selected i{
  padding-right: 0.3em;
  font-size: 0.9em;
}
/* :host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
  font-size: 1em;
}

:host
  ::ng-deep
  .mat-mdc-standard-chip.mdc-evolution-chip--selected:not(
    .mdc-evolution-chip--disabled
  ) {
    background-color: #444;
    padding: 0.2em;
} */

.query-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top:  1em;
}

.query-controls a{
  cursor: pointer;
}

form.search{
  display: flex;
}

input#search,
.sort select{
  font-size: 1em;
  outline: none;
  border: none;
  padding: 0.4em;
  background-color: #fff;
}

input#search{
  border-radius: 1em 0 0 1em;
  padding-left: 1em;
}

input#search:focus{
  outline: none;
  border: none;
}

#search-btn{
  background-color: #fff;
  color: #333;
  border: none;
  padding: 0 1em;
  border-radius: 0 1em 0.8em 0;
  cursor: pointer;
  font-size: 1.1em;
}

.sort select{
  border-radius: 1em;
  padding: 0.4em 0.8em;
  cursor: pointer;
}

.sort select{
  color: #666;
}

.clear{
  min-width: 7ch;
}

.clear a{
  padding: 0.5em;
  border-radius: 2px;
  font-size: 0.85em;
  border: 1px solid #bbb;
  color: #333;
  border-radius: 5px;
  transition: all 0.15s;
}

.clear a:hover{
  border-color: #e66666;
  color: #882323;
}

.products-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
  padding: 2em;
  /* justify-content: flex-start; */
  /* display: grid;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  gap: 2em;
  padding: 2em; */
}

.no-products {
  margin: 2.5em auto;
  grid-column: span 4;
}

.no-products::after {
  display: block;
  position: relative;
  content: "";
  width: 140%;
  height: 1px;
  left: -20%;
  top: 5px;
  background: linear-gradient(90deg, #eee, #333, #eee);
}

.card {
  flex: 0 0 20.5%;
  align-self: stretch;
  border: 1px solid #ccc;
  background: radial-gradient(#fff 25%, #e4e4e4);
  margin-bottom: 4em;
}

.filler {
  padding: 1em 2em;
  background: #fff;
  height: 100%;
}

.card:hover .filler {
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.media {
  overflow: hidden;
  aspect-ratio: 1/1;
}

.media a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.17s;
}

a:hover img {
  transform: scale(1.1);
}

.card .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.05em;
  padding: 1em;
}

.card p {
  font-size: 1.3em;
  display: flex;
  align-items: flex-start;
  /* font-weight: bold; */
}

.card p span{
  padding-top: 0.2em;
  font-size: 0.6em;
}


@media (max-width: 1000px){
  .card
  {
    flex-basis: 29.33%;
  }
}

@media (max-width: 700px){
  .options .category-select{
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .products-wrapper{
    gap: 4%;
  }

  .card
  {
    flex-basis: 48%;
  }
}

@media (max-width: 450px) {
  .query-controls{
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
  }

  .filler{
    padding: 1em;
  }

  .card{
    font-size: 0.85em;
  }

  form.search{
    flex-basis: 80%;
    justify-content: stretch;
  }

  form.search input{
    width: 80%;
  }

  /* :host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
    font-size: 0.85em;
  } */
  
}