.products {
  min-height: 70vh;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.options {
  background-color: #eee;
  padding: 1.1em;
  max-width: none;
}

.options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
  font-size: 1em;
}

:host
  ::ng-deep
  .mat-mdc-standard-chip.mdc-evolution-chip--selected:not(
    .mdc-evolution-chip--disabled
  ) {
    background-color: #444;
    padding: 0.2em;
}

.products-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
  padding: 2em;
  /* display: grid;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  gap: 2em;
  padding: 2em; */
}

.no-products {
  margin: 2.5em auto;
  grid-column: span 4;
}

.no-products::after {
  display: block;
  position: relative;
  content: "";
  width: 140%;
  height: 1px;
  left: -20%;
  top: 5px;
  background: linear-gradient(90deg, #eee, #333, #eee);
}

.card {
  flex: 0 0 20.5%;
  align-self: stretch;
  border: 1px solid #ccc;
  background: radial-gradient(#fff 25%, #e4e4e4);
}

.filler {
  padding: 1em 2em;
  background: #fff;
  height: 100%;
}

.card:hover .filler {
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.media {
  overflow: hidden;
  aspect-ratio: 1/1;
}

.media a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.17s;
}

a:hover img {
  transform: scale(1.1);
}

.card .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.05em;
  padding: 1em;
}

.card span {
  font-size: 1.3em;
  /* font-weight: bold; */
}
