<section class="products">
  <div class="options">
    <div class="container">
      <ul class="category-select">
        <button
          class="category-btn"
          (click)="changeCategory('')"
          [class.selected]="!queryParams['category']"
        >
          <i *ngIf="!queryParams['category']" class="fa-solid fa-check"></i>All
        </button>
        <button
          class="category-btn"
          (click)="changeCategory('Living room')"
          [class.selected]="queryParams['category'] == 'Living room'"
        >
          <i
            *ngIf="queryParams['category'] == 'Living room'"
            class="fa-solid fa-check"
          ></i
          >Living room
        </button>
        <button
          class="category-btn"
          (click)="changeCategory('Bedroom')"
          [class.selected]="queryParams['category'] == 'Bedroom'"
        >
          <i
            *ngIf="queryParams['category'] == 'Bedroom'"
            class="fa-solid fa-check"
          ></i
          >Bedroom
        </button>
        <button
          class="category-btn"
          (click)="changeCategory('Dining room')"
          [class.selected]="queryParams['category'] == 'Dining room'"
        >
          <i
            *ngIf="queryParams['category'] == 'Dining room'"
            class="fa-solid fa-check"
          ></i
          >Dining room
        </button>
        <button
          class="category-btn"
          (click)="changeCategory('Home office')"
          [class.selected]="queryParams['category'] == 'Home office'"
        >
          <i
            *ngIf="queryParams['category'] == 'Home office'"
            class="fa-solid fa-check"
          ></i
          >Home office
        </button>
        <button
          class="category-btn"
          (click)="changeCategory('Outdoor')"
          [class.selected]="queryParams['category'] == 'Outdoor'"
        >
          <i
            *ngIf="queryParams['category'] == 'Outdoor'"
            class="fa-solid fa-check"
          ></i
          >Outdoor
        </button>
      </ul>
      <div class="query-controls">
        <div class="priceRange">
          <mat-slider min="0" max="400" discrete="true">
            <input
              [(ngModel)]="priceRange.lower"
              matSliderStartThumb
              (change)="onPriceChange()"
            />
            <input
              [(ngModel)]="priceRange.upper"
              matSliderEndThumb
              (change)="onPriceChange()"
            />
          </mat-slider>
          <div class="inputs">
            <div class="input-group">
              <label for="">$</label
              ><input
                type="text"
                [(ngModel)]="priceRange.lower"
                (change)="onPriceChange('lower')"
                min="0"
                [max]="priceRange.upper"
              />
            </div>
            <p>-</p>
            <div class="input-group">
              <label for="">$</label
              ><input
                type="text"
                [(ngModel)]="priceRange.upper"
                (change)="onPriceChange('upper')"
                max="500"
              />
            </div>
          </div>
        </div>
        <form class="search" (ngSubmit)="onSearch()">
          <input
            id="search"
            type="text"
            placeholder="Search..."
            name="search"
            [(ngModel)]="search"
          />
          <button type="submit" id="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="sort">
          <select name="sort" [(ngModel)]="sort" (change)="onSortChange()">
            <option value="" disabled>Sort by</option>
            <option *ngFor="let option of sortOptions" [value]="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
        <div class="clear">
          <a (click)="onClear()" *ngIf="hasQueryParams">RESET</a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="products-wrapper"
    [ngStyle]="{
      'justify-content':
        products.length && products.length > 2 ? 'flex-start' : 'center'
    }"
  >
    <h1 class="no-products" *ngIf="products?.length == 0 && !isLoading">
      There are currently no products to show!
    </h1>

    <ng-container *ngIf="isLoading">
      <app-loader-card />
      <app-loader-card />
      <app-loader-card />
      <app-loader-card />
    </ng-container>

    <ng-container *ngIf="!isLoading">
      <div class="card" *ngFor="let prod of products">
        <div class="filler">
          <div class="media">
            <a [routerLink]="prod._id">
              <img [src]="prod.image" alt="" />
            </a>
          </div>
          <div class="info">
            <h3>{{ prod.name }}</h3>
            <p>{{ prod.material.join(", ") }}</p>
            <p>
              ${{ prod.price | floorPrice
              }}<span>{{ prod.price | decimalSlice }}</span>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
