.cart {
  min-height: 70vh;
  background: linear-gradient(#f2f2f2, #eee, #f2f2f2);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2em;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  border-radius: 1em 1em 0 0;
  padding: 1.5em 1em 1em 2em;
  position: relative;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: calc(5% / 2);
  width: 95%;
  height: 1px;
  background: #d3d3d3;
}

.header h2 span{
  color: #666;
  font-size: 0.6em;
  padding-left: 1em;
}

.no-products {
  padding: 3em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.filler {
  background-color: #fff;
  height: 1em;
  border-radius: 0 0 1em 1em;
}

.no-products a {
  padding: 0.8em 1.5em;
  text-decoration: none;
  color: #fff;
  background-color: #444;
  cursor: pointer;
}

.no-products a:hover {
  background-color: #000;
}

.orders-wrapper {
  padding: 0 0 2.5em 0;
}

.order-card {
  min-height: 200px;
  background-color: #fff;
  padding: 1.2em 1.5em;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  border-radius: 0.5em;
}

.order-heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 0.5em;
}

.order-heading::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d3d3d3;
}

.order-card .order-heading h3 span{
  font-weight: bold;
}

.product-card {
  height: 180px;
  display: flex;
  padding: 1em 0;
  position: relative;
}

.product-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: calc(5% / 2);
  width: 95%;
  height: 1px;
  background: #d3d3d3;
}

.product-card .media {
  height: 95%;
  width: auto;
  aspect-ratio: 1/1;
  flex: 0 0 20%;
  overflow: hidden;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-info {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
}

.product-info h2 {
  font-size: 1.3em;
}

.product-info .price {
  display: flex;
  justify-content: space-between;
  padding-right: 2.5em;
}

.price p:last-child{
  font-size: 1.2em;
  font-family: 'PT Serif';
}

.order-controls {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
}

.order-controls h3 {
  display: flex;
  align-items: flex-start;
}

.order-controls h3 span {
  font-size: 0.78em;
  padding-top: 0.05em;
}

#delete-btn{
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
    cursor: pointer;
    background-color: #df5f5f;
    text-decoration: none;
    color: #fff;
}

#delete-btn:hover{
    background-color: #f60b0b;

}
