.container {
    max-width: 1200px;
    margin: 0 auto 2em auto;
    padding: 2em 2em;
}

section.register{
    background-color: #fff;
    max-width: 1200px;
    box-shadow: 3px 3px 5px 3px #98aabc;
    display: flex;
    overflow: hidden;
    /* aspect-ratio: 2/1; */
}

.media{
    background-image: url('../../../assets/images/register-side.jpg');
    background-size: contain;
    min-height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.register-form{
    background: linear-gradient(90deg, #fffb, #fff);
    padding: 1em 3em;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.register{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1.1em;
    padding-top: 1.5em;
}

form.register::after{
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #ddd, #ccc, #ddd);
}

.input-group{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.2em;
}

h2{
    font-size: 2.5em;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #77a5d2;
}

label{
    font-family: 'PT Serif';
    font-weight: 500;
    letter-spacing: 1px;
}

input{
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font-family: 'PT Serif';
    padding: 0.5em;
    font-size: 0.9em;
    border-radius: 2px;
    width: 100%;
}

input:focus{
    outline: none;
    border-color: #bbb;
    box-shadow: 0 0 3px 2px #7CA7D1;
}

input::placeholder{
    color: #b3b3b3;
}

button{
    font-family: 'PT Serif';
    background-color: #7CA7D1;
    color: #fff;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.2em;
    transition: all 0.1s;
}

button:hover{
    cursor: pointer;
    background-color: #4b87c3;
}

.login-redirect{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    width: 70%;
}

.login-redirect a{
    /* display: inline-block; */
    background-color: #ECB678;
    color: #fff;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.2em;
    font-family: 'PT Serif';
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.1s;

}

.login-redirect a:hover{
    background-color: #e6a152;
} 

.errors{
    min-height: 19px;
}

p.error{
    font-size: 0.8em;
    color: #f44;
}

input.ng-touched.ng-invalid{
    border-color: #f55;
}
