<div class="container">
  <section class="register">
    <div class="media">
      <article class="register-form">
        <h2>Register an account</h2>

        <form
          class="register"
          #registerForm="ngForm"
          (ngSubmit)="handleRegister(registerForm)"
        >
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="text"
              placeholder="Type your email"
              name="email"
              ngModel
              #email="ngModel"
              required
              appEmailValidate
            />
            <div class="errors">
              <ng-container *ngIf="email.touched">
                <p class="error" *ngIf="email.getError('required')">
                  Email is required!
                </p>
                <p class="error" *ngIf="email.getError('email')">
                  Invalid email!
                </p>
              </ng-container>
            </div>
          </div>

          <div class="input-group">
            <label for="username">Username</label>
            <input
              type="text"
              placeholder="Type your username"
              name="username"
              ngModel
              #username="ngModel"
              minlength="5"
              required=""
            />
            <div class="errors">
              <ng-container *ngIf="username.touched">
                <p class="error" *ngIf="username.getError('minlength')">
                  Username must be atleast 5 characters long!
                </p>
                <p class="error" *ngIf="username.getError('required')">
                  Username is required
                </p>
              </ng-container>
            </div>
          </div>
          <div
            ngModelGroup="passwords"
            #passwords="ngModelGroup"
            appMatchPasswords
          >
            <div class="input-group">
              <label for="">Password</label>
              <input
                type="password"
                placeholder="Type your password"
                name="password"
                ngModel
                #password="ngModel"
                required
                minlength="6"
              />
              <div class="errors">
                <ng-container *ngIf="password.touched">
                  <p class="error" *ngIf="password.getError('required')">
                    Password is required
                  </p>
                  <p class="error" *ngIf="password.getError('minlength')">
                    Password must be atleast 6 characters long
                  </p>
                </ng-container>
              </div>
            </div>

            <div class="input-group">
              <label for="">Repeat password</label>
              <input
                type="password"
                placeholder="Type your password again"
                name="rePassword"
                ngModel
                #rePassword="ngModel"
                required
                [class]="passwords.getError('passwords') ? 'ng-invalid' : ''"
              />
              <div class="errors">
                <ng-container *ngIf="password.touched && rePassword.touched">
                  <p class="error" *ngIf="passwords.getError('passwords')">
                    Passwords do not match!
                  </p>
                </ng-container>
              </div>
            </div>
          </div>

          <button
            class="register-btn"
            [disabled]="registerForm.invalid ? true : false"
          >
            <p *ngIf="!isLoading">Register</p>
            <app-loader *ngIf="isLoading" type="dots" diameter="14px" width="7px"></app-loader>
          </button>
        </form>
        <div class="login-redirect">
          <p>Or</p>
          <a routerLink="../login">Login</a>
        </div>
      </article>
    </div>
  </section>
</div>
