<footer>
  <section class="contacts">
    <div class="container">
      <h2>Contact us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet obcaecati
        repellat ex consequatur quidem inventore, ea, quas distinctio accusa
      </p>
      <div class="socials">
        <ul>
          <li>
            <a href="https://github.com/PetarPetrov01" target="_blank"
              ><i class="fa-brands fa-github fa-2x"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/petar-petrov-61479028a"
              target="_blank"
              ><i class="fa-brands fa-linkedin fa-2x"></i
            ></a>
          </li>
          <li>
            <a><i class="fa-brands fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a><i class="fa-brands fa-instagram fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="credentials">
    <div class="container">
      <p>Copyright &copy;2024 <span>DREAM-FURNITURE</span></p>
    </div>
  </section>
</footer>
