.wishlist {
  min-height: 500px;
  background-color: #f2f2f2;
  background: linear-gradient(#f2f2f2, #eee, #f2f2f2);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2em;
}

.no-products {
  padding: 3em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.no-products a{
    padding: 0.8em 1.5em;
    text-decoration: none;
    color: #fff;
    background-color: #444;
}

.no-products a:hover{
    background-color: #000;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.header{
    background-color: #fff;
    border-radius: 1em 1em 0 0 ;
    padding: 1.5em 1em 1em 2em;
    position: relative;
    /* border-bottom: 1px solid #eee; */
}

.header::after{
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: calc(5% / 2);
  width: 95%;
  height: 1px;
  background: #d3d3d3;
}



.header span{
    font-size: 0.7em; 
    color: #444;
    padding-left: 1em;
}

.products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card {
  height: 220px;
  background-color: #fff;
  padding: 1.2em 1.5em;
  display: flex;
}

.media {
  height: 95%;
  width: auto;
  aspect-ratio: 1/1;
  flex: 0 0 25%;
  overflow: hidden;
}

.media img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.media a:hover img {
  transform: scale(1.1);
}

.content {
  flex: 0 0 75%;
  display: flex;
}

.content .info {
  flex: 0 0 70%;
  position: relative;
  padding: 0 1em;
}

.content .pad {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8em;
  position: relative;
}

.info::before,
.pad::before{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 92%;
  left: 0;
  background: #eee;
}

.content a {
  text-decoration: none;
  cursor: pointer;
}

#cart-btn {
  padding: 1em 2em;
  background-color: #38aa6d;
  color: #fff;
  border: none;
  border-radius: 2px;
  transition: all 0.15s;
}

#cart-btn:hover {
  background-color: #000;
  color: #fff;
}

#remove-btn {
  text-decoration: none;
  color: rgb(245, 131, 121);
}

#remove-btn:hover {
  color: rgb(236, 94, 81);
}
