.notification-container {
  position: fixed;
  top: 50px;
  right: 40px;
  min-width: 300px;
  max-width: 40%;
  min-height: 50px;
  background-color: rgba(192, 252, 202, 0.601);
  border-radius: 5px;
  border: 1px solid rgb(76, 178, 95);
  padding: 1em;
  padding-right: 2.4em;
}

.notification {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}

p {
  color: rgb(56, 189, 67);
}
