section.add-product {
  background: linear-gradient(90deg, #eee, #fff, #eee);
}

.container {
  padding: 3em 0;
  max-width: 1600px;
  margin: 0 auto;
  background: linear-gradient(90deg, #88d9b1, #f8f8f8, #88d9b1);
  background-image: url("../../../assets/images/add-prod-back-small.jpg");
  background-size: cover;
  background-position: center;
}

.form-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff7;
  /* background: radial-gradient(#eee4 40%, #8e81ca44); */
  /* box-shadow: 0px 0px 4px 1px #8898d9; */
  background: radial-gradient(rgba(238, 238, 238, 0.267) 40%, #81caa444);
  box-shadow: 0px 0px 4px 1px #88d9b1;
}

h1 {
  text-align: center;
  /* color: #46c955; */
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 2px 1px 2px #50b449;
  /* text-shadow: 1px 0px 3px #e2dcf1; */
}

form.add-product {
  min-height: 400px;
  padding: 3em 2em;
  display: flex;
  gap: 2em;
  width: 90%;
}

.column {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

div.mat-mdc-text-field-wrapper {
  background-color: transparent;
  width: 70%;
}

textarea {
  max-height: 100px;
}

input {
  width: 100%;
}

button {
  font-size: 1.1em;
  padding: 0.8em 2em;
  background-color: #6bd384;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: all 0.25s;
}

button:hover {
  background-color: #39a244;
}

:host
  ::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label {
  color: rgb(106, 204, 107);
}

:host
  ::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: rgb(106, 204, 107);
}

@media (max-width: 1200px) {
  .form-wrapper {
    width: 80%;
  }

  form.add-product {
    padding: 3em 0.8em;
  }
}

@media (max-width: 800px) {
  .form-wrapper {
    padding: 2em 0.8em;
  }

  form.add-product {
    width: 95%;
  }
}

@media (max-width: 650px) {
  form.add-product {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .column {
    flex: none;
    width: 80%;
  }
}

@media (max-width: 500px) {
  .form-wrapper {
    width: 90%;
  }

  form.add-product {
    flex-direction: column;
    gap: 0;
  }

  .column {
    flex: none;
    width: 90%;
  }
}


