<section class="add-product">
  <div class="container" lazyLoad="assets/images/add-prod-back.jpg">
    <div class="form-wrapper">
      <h1>{{ isEditing ? "Edit" : "Add" }} product</h1>
      <form action="" class="add-product" [formGroup]="addProductForm">
        <div class="column left">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" minlength="4" />
            <mat-error *ngIf="addProductForm.get('name')?.hasError('required')"
              >Name is required</mat-error
            >
            <mat-error *ngIf="addProductForm.get('name')?.hasError('minlength')"
              >Name must be atleast 4 characters long</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Description</mat-label>
            <textarea
              matInput
              type="text"
              style="max-height: 200px"
              formControlName="description"
              minlength="20"
            ></textarea>
            <mat-error
              *ngIf="addProductForm.get('description')?.hasError('required')"
              >Description is required</mat-error
            >
            <mat-error
              *ngIf="addProductForm.get('description')?.hasError('minlength')"
              >Description must be atleast 20 characters long</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Image</mat-label>
            <input
              matInput
              type="text"
              formControlName="image"
              pattern="^(https?:\/\/|assets\/images\/)[^ ]+\.?(png|jpg)$"
            />
            <mat-error *ngIf="addProductForm.get('image')?.hasError('required')"
              >Image is required</mat-error
            >

            <mat-error *ngIf="addProductForm.get('image')?.hasError('pattern')"
              >Invalid image URL</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" multiple>
              @for (category of categoryList; track category) {
              <mat-option [value]="category">{{ category }}</mat-option>
              }
            </mat-select>
            <mat-error
              *ngIf="addProductForm.get('category')?.hasError('required')"
              >Category is required</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Style</mat-label>
            <input matInput type="text" formControlName="style"  minlength="3"/>
            <mat-error *ngIf="addProductForm.get('style')?.hasError('required')"
              >Style is required</mat-error
            >
            <mat-error *ngIf="addProductForm.get('style')?.hasError('minlength')"
              >Style must be atleast 3 characters long</mat-error
            >

          </mat-form-field>
        </div>
        <div class="column right">
          <mat-form-field>
            <mat-label>Height</mat-label>
            <input matInput type="number" formControlName="height" min="0" />
            <mat-error
              *ngIf="addProductForm.get('height')?.hasError('required')"
              >Height is required and must be a number</mat-error
            >
            <mat-error *ngIf="addProductForm.get('height')?.hasError('min')"
              >Height must be a positive number</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Width</mat-label>
            <input matInput type="number" formControlName="width" min="0" />
            <mat-error *ngIf="addProductForm.get('width')?.hasError('required')"
              >Width is required and must be a number</mat-error
            >
            <mat-error *ngIf="addProductForm.get('width')?.hasError('min')"
              >Width must be a positive number</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Depth</mat-label>
            <input matInput type="number" formControlName="depth" min="0" />
            <mat-error *ngIf="addProductForm.get('depth')?.hasError('required')"
              >Depth is required and must be a number</mat-error
            >
            <mat-error *ngIf="addProductForm.get('depth')?.hasError('min')"
              >Depth must be a positive number</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Material</mat-label>
            <mat-select formControlName="material" multiple>
              @for (material of materialList; track material) {
              <mat-option [value]="material">{{ material }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Color</mat-label>
            <mat-select formControlName="color">
              @for (color of colorList; track color) {
              <mat-option [value]="color"
                ><i class="fa-solid fa-square fa-lg" [style.color]="color"></i>
                {{ color.charAt(0).toUpperCase() + color.slice(1) }}</mat-option
              >
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Price</mat-label>
            <input
              matInput
              type="number"
              formControlName="price"
              min="0"
              pattern="^[0-9]+(\.[0-9]{2})?$"
            />
            <mat-error *ngIf="addProductForm.get('price')?.hasError('required')"
              >Price is required and must be a number</mat-error
            >
            <mat-error *ngIf="addProductForm.get('price')?.hasError('min')"
              >Price must be a positive number</mat-error
            >
            <mat-error *ngIf="addProductForm.get('price')?.hasError('pattern')"
              >Invalid number (Must be with 2 decimal places or
              integer)</mat-error
            >
          </mat-form-field>
        </div>
      </form>
      <button (click)="handleClick()" [disabled]="addProductForm.invalid">
        <p *ngIf="!isLoading">Submit</p>
        <app-loader *ngIf="isLoading" type="dots" diameter="26"/>
      </button>
    </div>
  </div>
</section>
