<section class="add-product">
  <div class="container">
    <div class="form-wrapper">
      <h1>Add product</h1>
      <form action="" class="add-product" [formGroup]="addProductForm">
        <div class="column">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Description</mat-label>
            <textarea matInput type="text" style="max-height: 200px;"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Image</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" multiple>
              @for (category of categoryList; track category) {
              <mat-option [value]="category">{{ category }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field>
            <mat-label>Height</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Width</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Depth</mat-label>
            <input matInput type="number" />
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Material</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Price</mat-label>
            <input matInput type="number" />
          </mat-form-field>
        </div>
      </form>
      <button (click)="handleClick()">Submit</button>
    </div>
  </div>
</section>
