<section class="add-product">
  <div class="container">
    <div class="form-wrapper">
      <h2>Add product</h2>
      <form action="" class="add-product" [formGroup]="addProductForm">
        <div class="column">
          <label for="">Name</label>
          <input type="text" />
          <label for="">Description</label>
          <input type="text" />
          <label for="">Image</label>
          <input type="text" />
          <label for="">Category</label>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" multiple>
              @for (category of categoryList; track category) {
                <mat-option [value]="category">{{category}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <input type="text" />
          <input type="text" /> 
        </div>
        <div class="column">
          <label for="">Dimensions</label>
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <label for="">Material</label>
          <input type="text" />
          <label for="">Price</label>
          <input type="text" />
        </div>
      </form>
      <button (click)="handleClick()">Submit</button>
    </div>
  </div>
</section>  
