section.add-product{
    background: linear-gradient(90deg, #eee,#fff,#eee);
    padding: 3em 0;
}

.container{
    max-width: 1600px;
}

.form-wrapper{
    width: 70%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 4px 1px #bbb;
}

h2{
    text-align: center;
}

form.add-product{
    min-height: 400px;
    padding: 3em;
    display: flex;
    gap: 5em;
    width: 80%;
}

.column{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
}

label{
    font-family: 'PT Serif';
    font-weight: 500;
    letter-spacing: 1px;
}

input{
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font-family: 'PT Serif';
    padding: 0.5em;
    font-size: 0.9em;
    border-radius: 2px;
    width: 100%;
}