:host {
  display: block;
  flex: 0 0 20.5%;
}

.loader-card {
  width: 100%;
  display: block;
  height: 100%;
  min-height: 55vh;
  border: 1px solid #eee;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%, 80% 50%, 60% 5%, 40% 4.5%, 30% 8%;
  background-position: -250px 0, 50% 20px, 25% 65%, 17.5% 75%, 15% 87.5%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 250px 0, 50% 20px, 25% 65%, 17.5% 75%, 15% 87.5%;
  }
}

@media (max-width: 1000px) {
  :host {
    flex-basis: 29.33%;
  }
}

@media (max-width: 700px) {
  :host {
    flex-basis: 48%;
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }
}
