<section class="profile">
  <div class="container">
    <aside class="aside-info">
      <h2>{{ user?.username }}</h2>
      <p>Email: {{ user?.email }}</p>
      <a [routerLink]="'wishlist'">Wishlist</a>
      <a (click)="onEditProfile()">Edit profile</a>
      <a (click)="handleLogout()">Logout</a>
    </aside>
    <div class="products">
      <div class="products-header">
        <h1>Posted products <span>total: {{products.length}}</span></h1>
      </div>
      <div class="no-products" *ngIf="products?.length == 0">
        <h2>No products</h2>
        <p>You still haven't posted any products!</p>
        <a routerLink="/add-product">Post a product</a>
      </div>
      <div class="wrapper" *ngIf="products?.length != 0 || !products">
        <div class="card" *ngFor="let product of products">
          <div class="media" [routerLink]="'/products/' + product._id">
            <img [src]="product.image" [alt]="product.name" />
          </div>
          <div class="content">
            <div class="info">
              <h2>{{ product.name }}</h2>
              <h3>{{ product.category.join(", ") }}</h3>
              <h3>{{ product.material.join(", ") }}</h3>
            </div>
            <div class="controls">
              <a  id="edit-btn" [routerLink]="'/products/' + product._id + '/edit'">Edit</a>
              <a  id="delete-btn" (click)="onDelete(product,'200ms','100ms')">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
