<div class="container">
  <section class="main">
    <div class="cards">
      <article class="card info">
        <h3>Who we are</h3>
        <p>
          Welcome to DreamFurniture, your one-stop shop for turning furniture
          dreams into reality! We understand the importance of creating a space
          that reflects your unique style and personality. But finding the
          perfect pieces can feel overwhelming.
        </p>
        <p>
          That's where DreamFurniture comes in. We're a passionate team of
          furniture enthusiasts and design experts dedicated to making
          high-quality, customizable furniture accessible to everyone.
        </p>
      </article>
      <ng-container *ngIf="products.length == 0">
        <app-loader-card class="card"/>
        <app-loader-card class="card"/>
        <app-loader-card class="card"/>
      </ng-container>
      <ng-container *ngIf="products.length > 0">
        <article
          class="card"
          *ngFor="let product of products"
          [routerLink]="'/products/' + product._id"
        >
          <div class="media">
            <img [src]="product.image" [alt]="product.name" />
          </div>
          <div class="content">
            <p>{{ product.name }}</p>
            <h3>
              ${{ product.price | floorPrice }}
              <span>{{ product.price | decimalSlice }}</span>
            </h3>
          </div>
        </article>
      </ng-container>
    </div>
  </section>
</div>
