<div class="container">
  <section class="main">
    <div class="cards">
      <article class="card info">
        <h3>Who we are</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi alias
          quis est, tempore voluptatem doloremque esse? Recusandae, voluptatum
          nesciunt. Minus, dicta ratione voluptates ipsum est et magnam
          dignissimos praesentium eos! Deleniti placeat velit excepturi incidunt
          saepe sed repudiandae sunt aut?
        </p>
      </article>
      <article
        class="card"
        *ngFor="let product of products$ | async"
        [routerLink]="'/products/' + product._id"
      >
        <div class="media">
          <img [src]="product.image" [alt]="product.name" />
        </div>
        <div class="content">
          <p>{{ product.name }}</p>
          <h3>${{ product.price.toFixed(0) }} <span>{{product.price.toFixed(2).slice(-2)}}</span></h3>
        </div>
      </article>
    </div>
  </section>
</div>
