.container {
  max-width: 1200px;
  margin: 3em auto;
  padding: 1em 2em;
  background-color: #fff;
  box-shadow: 2px 0px 4px 5px #ddd;
}

.main {
  margin: 3em 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "info img1 img2 img3";
  min-height: 300px;
}

.main .card {
  padding-right: 1em;
  height: 100%;
}

.main .card:not(.info) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.card:hover:not(.info) {
  background-color: #eee;
}

.card.info p {
  font-size: 1.1em;
  text-align: justify;
}
.card.info h3 {
  font-size: 2em;
}

.media {
  padding: 2em;
  overflow: hidden;
}

.main .media img {
  width: 100%;
  height: auto;
  transition: transform 0.12s ease-in;
}

.card:hover:not(.info) img {
  object-fit: fill;
  transform: scale(1.2);
}

.main .content {
  text-align: center;
}
.main .content h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.8em 0;
  display: flex;
  align-items: flex-start;
}

.content h3 span {
  font-size: 0.7em;
  /* padding-top: 0.2em; */
}

@media (max-width: 800px) {
  .cards {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: auto repeat(3, 300px);
    grid-template-areas: "info";
  }

  .cards .media {
    display: flex;
    justify-content: center;
  }

  .main .card {
    padding: 0;
    padding-top: 1em;
    position: relative;
  }

  .card:not(.info)::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #eee, #888, #eee);
    top: 0;
    height: 1px;
    width: 100%;
  }

  .card:not(.info) .media img {
    height: 100%;
    width: auto;
  }

  .main .card.info{
    padding: 1em 0;
  }
}
