<div class="container">
  <section class="login">
    <article class="login-form">
      <h2>Login to your account</h2>

      <form action="" class="login" [formGroup]="loginForm">
        <div class="input-group">
          <label for="">Email</label>
          <input
            type="text"
            placeholder="Type your email"
            formControlName="email"
            appEmailValidate
          />
          <div class="errors">
            <ng-container *ngIf="loginForm.get('email')?.touched">
              <p
                class="error"
                *ngIf="loginForm.get('email')?.errors?.['required']"
              >
                Email is required!
              </p>
              <p
                class="error"
                *ngIf="loginForm.get('email')?.errors?.['email']"
              >
                Invalid email!
              </p>
            </ng-container>
          </div>
        </div>

        <div class="input-group">
          <label for="">Password</label>
          <input
            type="password"
            placeholder="Type your password"
            formControlName="password"
          />
          <div class="errors">
            <ng-container *ngIf="loginForm.get('password')?.touched">
              <p
                class="error"
                *ngIf="loginForm.get('password')?.errors?.['required']"
              >
                Password is required!
              </p>
            </ng-container>
          </div>
        </div>
        <app-loader *ngIf="isLoading" color="#E8B677" diameter="70px" width="7px"/>
        <button
          class="login-btn"
          [disabled]="loginForm.invalid"
          (click)="handleLoginSubmit()"
        >
          Login
        </button>
      </form>
      <div class="register-redirect">
        <p>Or</p>
        <a routerLink="../register">Register</a>
      </div>
    </article>
    <article class="media">
      <img src="assets/images/login-side2.jpg" alt="" />
    </article>
  </section>
</div>
