<div class="container">

    <section class="main">
          <div class="cards">
            <article class="card info">
              <h3>Who we are</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
                alias quis est, tempore voluptatem doloremque esse? Recusandae,
                voluptatum nesciunt. Minus, dicta ratione voluptates ipsum est et
                magnam dignissimos praesentium eos! Deleniti placeat velit
                excepturi incidunt saepe sed repudiandae sunt aut?
              </p>
            </article>
            <article class="card">
              <div class="media">
                  <img src="assets/images/chair-modern.png" alt="">
              </div>
              <div class="content">
                  <p>Light wooden chair</p>
                  <h3>$89</h3>
              </div>
            </article>
            <article class="card">
              <div class="media">
                  <img src="assets/images/lamp.png" alt="">
              </div>
              <div class="content">
                  <p>Light wooden chair</p>
                  <h3>$89</h3>
              </div>
            </article>
            <article class="card">
              <div class="media">
                  <img src="assets/images/stool.png" alt="">
              </div>
              <div class="content">
                  <p>Light wooden chair</p>
                  <h3>$89</h3>
              </div>
            </article>
          </div>
      </section>
  </div>
